 
@font-face {
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/Anders.ttf');
  font-family: test;
}
html,body {
margin: 0px;
background: #2e2e2ec4
}
.scene {
    
    
    height: 100vh;
    background: #1d1f20;
    /* padding: 10%; */
    text-align: center;
    flex-direction: column;
    background-image: url(https://www.telemundo.com/sites/nbcutelemundo/files/styles/article_cover_image/public/images/article/cover/2018/11/29/mujer-programando-en-computadora.jpg?itok=vNUHetyt)
}
.title {
  font-size: 7vw;
  /* line-height: 110%; */
  /* padding-top: 1em; */
  /* margin: 0px; */
  font-family: test;
  color: white;
  margin-bottom: .5em;
  margin-top: 0px;
}
.check-out {
    /* z-index: 100; */
    /* position: absolute; */
    /* bottom: 1rem; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    font-size: 3vw;
    color: #fff;
    font-family: test;
    /* padding-top: 10%; */
    /* padding-top: 2em; */
}
.works{
    font-family: test;
    font-size: 1.5vw;

    border-style: solid;


    padding: .5em;
    border-color: #79ee03;
    /* margin-top: 10%; */


    font-weight: bold;
}
.skills{
    display:flex;
    align-items: center;

    background: #2e2e2e;
}
.logo{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /* display: block; */
        display: flex;
    
}
.logowidth{
  
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* width: 0%; */
  color:#ffffff;
  font-size: 8vw;
  padding: .2em;
  border-style: solid;
  border-color: #2e2e2e;

}
.logowidth:hover{
  border-style: solid;
  border-color:chartreuse;
  
}

.trabajos{
    width:25%;
    border-style: outset;
    margin: 3%;
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius:10px;
    background:white;

}
.img-trabajos{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
   
}


 .trabajos:hover .img-trabajos {
    
    
    filter: grayscale(80%) blur(2px);
    

  }
  
/* .trabajos {overflow:hidden;} */

.title-trabajos{
    width: 100%;
    display:none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    opacity: .7;
}

.trabajos:hover .title-trabajos{
    display:block;
    margin-left: auto;
    margin-right: auto;
    }

    .links{
        height: 300px;
        /* background-color: #7f1660; */
    }

    .text {
        font-size:2vw;
        
        font-weight:bold;
        color:white;
        text-transform:uppercase;
      }
      .parpadea {
        
        animation-name: parpadeo;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      
        -webkit-animation-name:parpadeo;
        -webkit-animation-duration: 2s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
      }
      
      @-moz-keyframes parpadeo{  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
      
      @-webkit-keyframes parpadeo {  
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
         100% { opacity: 1.0; }
      }
      
      @keyframes parpadeo {  
        0% { opacity: 1.0; }
         50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }

.presentacion{
 
  flex-direction:column;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.div-card{
  margin: 5%;
  background: #2e2e2e;
}

.title-skills{
  font-size: 2vw;
    color: white;
}
.back-color{
  /* background:#2e2e2e */
  background: #232222
}
.skills{
  font-size: 3vw;
  background: #2e2e2ed6;
  color: white;
  /* padding: 2%; */
  /* margin-top: 3%; */
  
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: test;
}

.contacto{
  font-size: 10vw;
  color:white;
}
.card-style{
  width: 33.33%;
  margin:3%;
}
.back-gray{
  background: #2e2e2e;
}
.color-white{
  color: white;
}

.logo:hover{
  
  transform: rotate(-5deg);

  -webkit-transform: rotate(-5deg);

  -moz-transform: rotate(-5deg);

  -o-transform: rotate(-5deg);
}
