 div {
    width: 100px;
    height: 50px;
    color: white;
    font-weight: bold;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
    padding: 10px;
    margin: 10px;
}

#div1 {
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    z-index: 30;
    position: absolute;
    margin-top: -30em;
    margin-left: -25em;
    background: #a05b74;
}
#div2 {
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    z-index: 30;
    position: absolute;
    margin-top: -20em;
    margin-left: -25em;
    background: #526b52
}
#div3 {
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    z-index: 30;
    position: absolute;
    margin-top: -10em;
    margin-left: -25em;
    background: #605b6f
}
#div4 {
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: 30;
    position: absolute;
    margin-top: 0em;
    margin-left: -25em;
    background: #5f5180
}
#div5 {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    z-index: 30;
    position: absolute;
    margin-top: 10em;
    margin-left: -25em;
    background: #526b52
}

#div1:hover {
    width: 150px;
    background: gray;
}
#div2:hover {
    width: 150px;
    background: gray;
}
#div3:hover {
    width: 150px;
    background: gray;
}
#div4:hover {
    width: 150px;
    background: gray;
}
#div5:hover {
    width: 150px;
    background: gray;
}

@import "compass/css3";

@font-face {
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/Anders.ttf');
  font-family: test;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
html,body {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
.scene {
    position: relative;
    height: 100%;
    background: #1d1f20;
    padding: 15.5rem;
    text-align: center;
}
h1 {
    position: relative;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: test;
    color: #fff;
    z-index: 10;
}
.magic {
    z-index: 5;
    position: absolute;
    /* top: calc(50% - 10rem);
    left: calc(50% - 10rem); */
    width: 15rem;
    height: 15rem;
    background: url(https://i.redd.it/my4ctb40dmpz.png)100% 100% no-repeat fixed;
    background-size: cover;
    border-radius: 50%;
}
.check-out {
  z-index: 100;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
  font-family: test;
}

